@model IEnumerable<MediSync.Models.Appointment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="text-center text-uppercase p-2">Manage Appointments</h3>


<table class="table table-striped table-hover text-center">

    <tr>
        <th>
            APPOINTMENT DATE
        </th>
        <th>
            CRITICALITY
        </th>
        <th>
            REASON
        </th>
        <th>
            PATIENT NAME
        </th>
        <th>
            PHYSICIAN NAME
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.appointmentStatus == "Pending")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.appointmentDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.appointmentCriticality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.appointmentReason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.patientFirstName) @Html.DisplayFor(modelItem => item.Patient.patientLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Physician.physicianFirstName) @Html.DisplayFor(modelItem => item.Physician.physicianLastName)
                </td>
                <td>
                    @*<a href="~/Schedule/AddSchedule?scheduleDateTime=@item.appointmentDateTime.Date.ToString("dd-MMM-yyyy")&scheduleAppointmentID=@item.appointmentID&scheduleStatus=Pending">
                         <button type="button" class="btn btn-success">Approve</button>
                     </a>*@

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_@item.appointmentID">Approve</button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="id_@item.appointmentID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Schedule Appointment</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action=@Url.Action("AddSchedule","Schedule") method="post">
                                        <div class="form-group" hidden>
                                            <input readonly="readonly" type="text" class="form-control" value="@item.appointmentID" name="scheduleAppointmentID">
                                        </div>
                                        <div class="form-group" hidden>
                                            <input readonly="readonly" type="text" class="form-control" value="Pending" name="scheduleStatus">
                                        </div>
                                        <div class="form-group">
                                            <label>Requested Date</label>
                                            <input readonly="readonly" type="text" class="form-control" value="@item.appointmentDateTime.Date.ToString("dd-MMM-yyyy")">
                                        </div>
                                        <div class="form-group">
                                            <label>Schedule Date/Time</label>
                                            <input type="datetime-local" class="form-control" name="scheduleDateTime">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <a href="#">
                        <button type="button" class="btn btn-danger">Decline</button>
                    </a>
                </td>
            </tr>
        }

    }

</table>

<!-- Modal -->
<!--<div class="modal fade" id="approvemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Schedule Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Requested Date/Time</label>
                        <input type="password" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="datetime-local" class="form-control" name="scheduleDateTime">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>-->