@model MediSync.Models.Chemist

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Chemist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chemistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chemistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chemistAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chemistAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chemistEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chemistEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chemistContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chemistContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chemistDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chemistDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.chemistID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
